name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          working_directory: latex
          root_file: resume.tex
          compiler: pdflatex
          pre-compile: "tlmgr install fontspec geometry graphicx hyperref xcolor titlesec fontawesome5 xifthen pgf paracol ragged2e enumitem tcolorbox academicons && biber resume 
      - name: Upload PDF file
        uses: actions/upload-artifact@v6
        with:
          name: PDF
          path: latex/resume.pdf
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: Release.txt