name: GitHub Actions Demo

on: [push]

jobs:
  explore-github-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a one-line script
        run: echo "Hello, world!"
      - name: Run a multi-line script
        run: |
          echo "This job runs on a ${{ runner.os }} server."
          echo "The workflow is now ready to test your code.

